:host {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

section {
    width: auto;
    margin: 0 2em;
    flex: 1 1 40%;
}

.scoring {
    .table-container {
        max-height: 460px;
    }

    table {
        td, th {
            text-align: center;
        }
    }
}

.now-playing {
    mat-card {
        text-align: center;

        a {
            text-decoration: none;
            color: black;
        }
    }

    .btn-continue {
        width: 100%;
    }
}
