.scoring {
    table {
        width: 100%;
    
        td, th {
            text-align: center;
        }
    }
}

.now-playing {
    mat-card {
        text-align: center;
        margin: 0 0 3em;

        a {
            text-decoration: none;
            color: black;
        }
    }

    .btn-start-game {
        display: block;
        margin: 3em auto;
        width: 100%;
    }
}
