section {
    width: 80%;
    margin: auto;
}

em {
    font-weight: bold;
    font-style: normal;
 }

form, mat-form-field, table { 
    width: 100%;
}

.table-container {
    overflow: auto;
    max-height: 350px; 
}

button.btn-continue {
    display: block;
    min-width: 50%;
    margin: 3em auto;
}  